
.navbarItems{
    background: linear-gradient(90deg,white,rgb(228, 225, 225));
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    width : 100%;
}

.logo{
    color:gray;
    margin-left: 2px;
    justify-self: start;
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-gap: 10px;
    width: 70vw;
    list-style: none;
    justify-content: end;
    margin-right: 5px;
}
.nav-links:hover{
    background-color: rgb(255, 211, 211);
    border-radius: 5px;
    transition: all 0.2s;
}