.button {
    background-color: #afafaf;
    border-radius: 12px;
    border-style: initial;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
.button:hover {
	  background-color: #84a98c;	
}