.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0% 8% 0% 8%;
    flex-wrap: wrap;
}
.box{
    margin: auto auto;
    margin-top: 5px;
    overflow: auto;
    height:168px;
    max-width: wrap;
    border: 1px solid steelblue;
    padding: 10px;
    justify-content: space-around;
}

.delete-checkbox{
    float: left;
    padding: 0 10px 10px 0;
}

@media (max-width:800px) and (min-width:200px){
    .responsive{
        flex: 0 0 auto;
        width: 50%;
    }
    .box{
        max-width: 66%;
    }
}
.specs div{
    margin-top: 20px;
}
.specs p{
    font-size:x-small;
}

@media (min-width:800px){
    .responsive{
        flex: 0 0 auto;
        width: 25%;
    }
    .box{
        max-width: 66%;
    }
}
