
.switch{
    min-height: wrap;
    border: 1px solid black;
    border-radius: 5px;
    width:150px;
    cursor: pointer;
    text-align: justify;
}

.btn{
    background-color: white;
    text-align: left;
    display: inline-block;
    cursor: pointer;
    border-style: hidden;
}

.dropdown{
    width: 15%;
    position:  relative;
}
.dropdown .dropdownChosenValue{
    background: white;
    font-weight: bold;
    display: flex;
    align-items: left;
    border-style: hidden;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
}
.dropdown .dropdown-button{
    background: white;
    font-weight: bold;
    display: flex;
    align-items: left;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
}

.dropdown .dropdown-content{
    background: white;
    border: 1px solid black;
    border-radius: 5px;
}

.dropdown .dropdown-content .drop-down-item{
    cursor: pointer;
    transition: all 0.2;
}

.dropdown .dropdown-content .drop-down-item:hover{
    background: rgb(204, 191, 191);
}

